<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/dash.css')}}">
    <title>Dashboard</title>
    <style>
        nav a {
            color: white;
            font-size: 2em;
            margin-left: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('serve') }}">Get Name</a>
    </nav>
    <hr>
<div class="content">
    <h1>Enter your date of birth</h1>
<form action="/login" methods="POST">
    <div class="text_field">
        <input type="text" required>
        <span></span>
        <label>DD/MM/Year</label>
    </div>

    <div class="text_field">
        <input type="text" required>
        <span></span>
        <label>Select Gender</label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me">Male
        </label>
        <label>
            <input type="checkbox" value="remember-me">Female
        </label>
       <br>
       <button class="submitting" type="submit">Submit</button>
       </form>
    </div>
</div>
</body>
</html>